<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistic Result</title>
</head>
<body>
<!--<h1>{{ result }}</h1>-->
<table border="1">
    <caption>时间数据统计</caption>
    {% for line in result %}
    <tr>
        {% for i in line %}
            {% if line.5 == i and i < 8.0 %}
                <td>
                    <p style="background-color:rgb(255,0,0)">{{ i }}</p>
                </td>
            {% elif i == "no record" %}
                <td>
                    <p style="background-color:rgb(255,0,0)">{{ i }}</p>
                </td>
            {% else %}
                <td>{{ i }}</td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</body>
</html>