<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload_file</title>
</head>
<body>
<h1>This web page is to generate the manhour </h1>
<div class="container">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
<!--      <input type="text" name="file_name">-->
      <input type="file" name="file_path">
      <input type="submit" value="submit" class="btn btn-info btn-sm">
    </form>
</div>

</body>
</html>